[tooltip] {
	position: relative;

	.tooltip {
		position: absolute;
		bottom: 0; left: 0;
		transition: opacity .2s;
		opacity: 0;
		white-space: nowrap;
		left: 50%; bottom: 100%;
		background: #222;
		color: #fff;
		z-index: 2;
		pointer-events: none;
	}
	&[origin="down"] .tooltip {
		bottom: auto; top: 100%;
	}
	&[origin="left"] .tooltip {
		left: 100%; top: 50%; bottom: auto;
	}
	&[origin="right"] .tooltip {
		left: auto; top: 50%; bottom: auto; right: 100%;
	}
	&:hover {

		.tooltip {
			opacity: 1;
		}
	}
}